.LiveChatSearch {
  background: #fff;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 10px;
}
.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #333;
  margin-bottom: 10px;
}
.heading {
  font-size: 0.9rem;
  color: #333;
  font-weight: 500;
}

.link {
  font-size: 13px;
  color: #333;
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
}
