.CollapseAbleLiveChat {
  background: #13215e;
  width: 350px;
  color: #fff;
  padding: 1.5rem;
  border-radius: 20px;
  height: 470px;
  overflow: auto;
  display: none;
  opacity: 0;
  transition: 0.3s ease all;
  transform: translateY(30px);
}
.CloseIcon {
  position: absolute;
  top: 20px;
  cursor: pointer;
  right: 20px;
}
.heading {
  font-size: 1.6rem;
  font-weight: 400;
  width: 50%;
}
.para {
  font-size: 14px;
}
@media screen and (max-width: 600px) {
  .CollapseAbleLiveChat {
    height: 100vh;
    width: 100%;
    bottom: 0 !important;
    left: 0;
    position: fixed;
    border-radius: 0px;
    opacity: 1 !important;
    transform: translateY(0px) !important;
  }
}
@media screen and (max-width: 400px) {
  .CollapseAbleLiveChat {
    /* width: 95%; */
    align-self: flex-end;
  }
  .heading {
    font-size: 1.4rem;
  }
}
