body {
  background: transparent;
}
.LiveChat {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
}
/* .LiveChat */
.button {
  border: none;
  outline: none;
  margin-top: 1rem;
  width: 50px;
  height: 50px;
  background: #13215e;
  border-radius: 50%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  align-self: flex-end;
}
.Img {
  pointer-events: none;
}
